<div class="destinations">

	<h3><%= destination.name %></h3>
	<img src="<%= destination.image_url %>">

	<div class="todo_items">
		<% destination.todo_items.each do |todo| %>
		<%= render todo %>
		<% end %>
	</div>
