<div class="new-destination">
<h1> New Destination </h1>

<%= form_for Destination.new, :remote => true do |f| %>



	<div class="field">
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.text_field :image_url %>
	</div>


	<div class="field">
	<%= f.submit %>
	</div>

<% end %>
</div>